<!-- I'm the header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="static/resources/logo-3.png" class="home-logo"></img></a>
            <div class="pull-right header-button-container">
                <a href="#!/user/profile"><img src="static/resources/profile-image.png" class="profile-image"></img></a>
                <a href="#!/user/cart"><img src="static/resources/cart.png" class="shopping-cart-image"><img></a>
                <a ng-click="model.logout()"><img src="static/resources/logout.png" class="shopping-cart-image"><img></a>
            </div>
            <input ng-model="model.input" class="header-search" placeholder="Search by Name/Department" >
            <a ng-click="model.search(model.input)"><div class="search-block"></div></a></input>
            <i class="fa fa-search  fa-search-change"></i>
        </div>
    </div>
</nav>

<div class="main-container">
    <div class="content-container profile-page-inner-container">
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-danger" href="#!/user/profile"><< Back</a>
                <div class="profile-container">
                    <div class="bar">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="profile-text">Profile</div>
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <div class="search-field-container pull-right">
                                    <div class="search-field-inner-wrapper">
                                        <input class="search-box" placeholder="Search for username" ng-model="model.findusername">
                                        <button class="icon icon-modify" ng-click="model.findUser(model.findusername)">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="split-line">
                    <div class="form-group row">
                        <label for="username" class="col-xs-12 col-sm-2">Username:</label>
                        <div class="col-xs-11 col-sm-10"><input type="text" class="form-control" ng-model="model.user.username" placeholder="username" readonly/></div>
                        <label for="fname" class="col-xs-12 col-sm-2">First name:</label>
                        <div class="col-xs-11 col-sm-10"><input type="text" class="form-control" ng-model="model.user.firstName" placeholder="firstname"  readonly/></div>
                        <label for="lname" class="col-xs-12 col-sm-2">last name:</label>
                        <div class="col-xs-11 col-sm-10"><input type="text" class="form-control" ng-model="model.user.lastName" placeholder="lastname" readonly /></div>
                        <label for="dob" class="col-xs-12 col-sm-2">Birth:</label>
                        <div class="col-xs-11 col-sm-10"><input type="date" class="form-control" ng-model="model.user.dob" placeholder="01/01/1980" readonly/></div>
                        <label for="email" class="col-xs-12 col-sm-2">Email:</label>
                        <div class="col-xs-11 col-sm-10"><input type="email" class="form-control" ng-model="model.user.email" placeholder="email" /></div>
                        <label for="phone" class="col-xs-12 col-sm-2">Phone:</label>
                        <div class="col-xs-11 col-sm-10"><input type="tel" class="form-control" ng-model="model.user.phone" placeholder="phone" /></div>
                        <label for="role" class="col-xs-12 col-sm-2">Type:</label>
                        <div class="col-xs-11 col-sm-10"><input type="text" class="form-control" ng-model="model.user.role" readonly/></div>
                    </div>
                </div>
                <div class="activity-option">
                    <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
                    <a ng-show="!model.isFollow && !model.isBlock"ng-click="model.follow()" class="btn btn-block btn-primary">Follow</a>
                    <a ng-show="model.isFollow"ng-click="model.unfollow()" class="btn btn-block btn-primary">Unfollow</a>
                    <a ng-show="!model.isBlock && !model.isFollow"ng-click="model.block()" class="btn btn-block btn-primary">Block</a>
                    <a ng-show="model.isBlock"ng-click="model.unblock()" class="btn btn-block btn-primary">Unblock</a>
                </div>
                <!-- <div class="following-list-container">
                    <ul class="list-group">
                        <li class="list-group-item active">Following:</li>
                        <li class="list-group-item">Ethan</li>
                        <li class="list-group-item">Mike</li>
                        <li class="list-group-item">Lily</li>
                        <li class="list-group-item">LiLei</li>
                    </ul>
                </div>
                <div class="following-list-container">
                    <ul class="list-group">
                        <li class="list-group-item active">Bought:</li>
                        <li class="list-group-item">Milk</li>
                        <li class="list-group-item">Snack</li>
                        <li class="list-group-item">Pipi Shrimp</li>
                        <li class="list-group-item">XiangBaBang</li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</div>
