<!-- I'm the header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="static/resources/logo-3.png" class="home-logo"></img></a>
            <div class="pull-right header-button-container">
                <a href="#!/user/profile"><img src="static/resources/profile-image.png" class="profile-image"></img></a>
                <a href="#!/user/cart"><img src="static/resources/cart.png" class="shopping-cart-image"><img></a>
                <a ng-click="model.logout()"><img src="static/resources/logout.png" class="shopping-cart-image"><img></a>
            </div>
            <input ng-model="model.input" class="header-search" placeholder="Search by Name/Department" >
            <a ng-click="model.search(model.input)"><div class="search-block"></div></a></input>
            <i class="fa fa-search"></i>
        </div>
    </div>
</nav>

<div class="main-container">
    <div class="content-container profile-page-inner-container">
        <div class="row">
            <li class="col-sm-12">
                <div class="user-search-bar-container">
                    <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
                    <input class="user-search-bar" placeholder="Search for username" ng-model="model.findusername">
                    <div ng-click="model.findUser(model.findusername)" class="btn btn-info btn-block btn-search">Search</div>
                </div>
                <div class="profile-container">
                    <div class="form-group row">
                        <label for="username" class="col-xs-12 col-sm-2">Username:</label>
                        <div class="col-xs-11 col-sm-10"><input type="text" class="form-control" ng-model="model.user.username" placeholder="username" /></div>
                        <label for="fname" class="col-xs-12 col-sm-2">First name:</label>
                        <div class="col-xs-11 col-sm-10"><input type="text" class="form-control" ng-model="model.user.firstName" placeholder="firstname" /></div>
                        <label for="lname" class="col-xs-12 col-sm-2">last name:</label>
                        <div class="col-xs-11 col-sm-10"><input type="text" class="form-control" ng-model="model.user.lastName" placeholder="lastname" /></div>
                        <label for="dob" class="col-xs-12 col-sm-2">Birth:</label>
                        <div class="col-xs-11 col-sm-10"><input type="date" class="form-control" ng-model="model.user.dob" placeholder="01/01/1980" /></div>
                        <label for="password" class="col-xs-12 col-sm-2">Password:</label>
                        <div class="col-xs-11 col-sm-10"><input type="password" class="form-control" ng-model="model.user.password" placeholder="password" /></div>
                        <label for="email" class="col-xs-12 col-sm-2">Email:</label>
                        <div class="col-xs-11 col-sm-10"><input type="email" class="form-control" ng-model="model.user.email" placeholder="email" /></div>
                        <label for="phone" class="col-xs-12 col-sm-2">Phone:</label>
                        <div class="col-xs-11 col-sm-10"><input type="tel" class="form-control" ng-model="model.user.phone" placeholder="phone" /></div>
                        <label for="role" class="col-xs-12 col-sm-2">Type:</label>
                        <div class="col-xs-11 col-sm-10"><input type="text" class="form-control" ng-model="model.user.role" readonly/></div>
                    </div>
                </div>
                <div class="following-list-container">
                    <ul class="list-group">
                        <li class="list-group-item active">FollowList:</li>
                        <li ng-show="model.followList.length === 0">You do not follow anybody!</li>
                        <li ng-repeat="follower in model.followList">
                            {{follower.username}}
                        </li>
                    </ul>
                </div>
                <div  class="following-list-container">
                    <ul class="list-group">
                        <li class="list-group-item active">OrderList:</li>
                        <li ng-show="model.orderList.length === 0">You do not have any order history!</li>
                        <div ng-repeat="order in model.orderList"class = "row">
                            <li >
                                {{order._id}}
                            </li>

                        </div>
                    </ul>
                </div>
                <div ng-show="model.user.role === 'SELLER'" class="following-list-container">
                <ul class="list-group">
                    <li class="list-group-item active">ItemList:</li>
                    <li ng-show="model.itemList.length === 0">You do not post anything to sell!</li>
                    <div ng-repeat="item in model.itemList"class = "row">
                        <li >
                            {{item.name}}
                        </li>

                    </div>
                </ul>
            </div>
                <div class="function-split-bar">
                    <div class="row">
                        <div class="col-xs-3">
                            <a ng-click="model.updateUser(model.user.username,model.user.firstName,model.user.lastName,model.user.dob,model.user.password,model.user.email,model.user.phone)">
                                <img src="static/resources/check-icon.png" class="profile-icon">
                            </a>
                        </div>
                        <div class="col-xs-3"><a href="#!"><img src="static/resources/home-icon.png" class="profile-icon"></img></a></div>
                        <div class="col-xs-3"><a href="#!/s/ulist/followedBy"><img src="static/resources/followedBy-icon.png" class="profile-icon"></img></a></div>
                        <div class="col-xs-3"><a href="#!/s/ulist/blackList"><img src="static/resources/blacklist-icon.png" class="profile-icon"></img></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
