<div class="admin-header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#!/admin"><div class="header-text">ShopCheap administration</div></a>
                <div class="admin-header-option">
                    Welcome admin /
                    <a>view site</a>
                    /
                    <a>logout</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="login-main-container container">
    <div class="admin-home-container">
        <h2>Orders:</h2>
        <div class="table-container">
            <table class="table table-striped table-responsive">
              <thead>
                <tr>
                  <th>OrderId</th>
                  <th>Item</th>
                  <th>Seller</th>
                  <th>Buyer</th>
                  <th>Price</th>
                  <th>Count</th>
                  <th>Buy on</th>
                  <th>Send On</th>
                  <th>Delivery On</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="order in model.orders">
                      <td>{{ item._id }}</td>
                      <td>{{ item.itemId }}</td>
                      <td>{{ item.sellerId }}</td>
                      <td>{{ item.buyerId }}</td>
                      <td>{{ item.price }}</td>
                      <td>{{ item.count }}</td>
                      <td>{{ item.createDate }}</td>
                      <td>{{ item.sendDate }}</td>
                      <td>{{ item.deliveryDate }}</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
