<div class="admin-header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#!/admin"><div class="header-text">ShopCheap administration</div></a>
                <div class="admin-header-option">
                    Welcome {{model.admin.username}}/
                    <a>view site</a>
                    /
                    <a href="#!/admin">logout</a>
                </div>
            </div>
        </div>
    </nav>
</div>


<div class="login-main-container container">
    <div class="admin-home-container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Create User</h2>
                <div class="form-group">
                    <div ng-show="model.error" class="alert alert-danger">
                        {{model.error}}
                    </div>
                    <label for="username">Username</label>
                    <input ng-model = "username" type="text" class="form-control"  placeholder="username" />
                    <label for="fname">First name</label>
                    <input type="text" class="form-control" ng-model="fname" placeholder="first name" />
                    <label for="lname">Last name</label>
                    <input type="text" class="form-control" ng-model="lname" placeholder="last name" />
                    <label for="dob">Date of Birth</label>
                    <input type="date" class="form-control" ng-model="dob" placeholder="01/01/1990" />
                    <label for="password">Password</label>
                    <input ng-model = "password"type="password" class="form-control"  placeholder="password" />
                    <label for="repassword">Repeat Password</label>
                    <input ng-model = "password2"type="password" class="form-control"  placeholder="password" />
                    <label for="email">Email address</label>
                    <input ng-model = "email"type="email" class="form-control"  placeholder="email" />
                    <label for="phone">Phone number</label>
                    <input ng-model = "phone"type="tel" class="form-control" placeholder="phone" />
                    <label for="role">Type of User</label>
                    <select ng-model ="role" class="form-control">
                        <option value="BUYER" selected>Buyer</option>
                        <option value="SELLER">Seller</option>
                    </select>
                    <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
                    <a ng-click="model.register(username, fname,lname,dob,password, password2, email, phone, role)" class="btn btn-info btn-login btn-block">Register</a>
                    <a href="#!/admin/{{model.adminId}}" class="btn btn-info btn-register btn-block">Cancel</a>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
