<div class="admin-header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#!/admin"><div class="header-text">ShopCheap administration</div></a>
                <div class="admin-header-option">
                    Welcome {{model.admin.username}}/
                    <a>view site</a>
                    /
                    <a href="#!/admin">logout</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="login-main-container container">
    <div class="admin-home-container">
        <h2>Users:</h2>
        <div class=" table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>User type</th>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Phone number</th>
                  <th>Email</th>
                  <th>Date of birth</th>
                  <th>Member since</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in model.users" ng-click="model.clickPanel(user)">
                      <td>{{ user.username }}</td>
                    <td>{{ user.role }}</td>
                      <td>{{ user.firstName }}</td>
                      <td>{{ user.lastName }}</td>
                      <td>{{ user.phone }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.dob }}</td>
                      <td>{{ user.createDate }}</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
