<div class="admin-header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#!/admin"><div class="header-text">ShopCheap administration</div></a>
                <div class="admin-header-option">
                    Welcome {{model.admin.username}}/
                    <a>view site</a>
                    /
                    <a href="#!/admin">logout</a>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="login-main-container container">
    <div class="admin-home-container">
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model = "model.user.username" type="text" class="form-control"  placeholder="username" />
            <label for="fname">First name</label>
            <input type="text" class="form-control" ng-model="model.user.firstName" placeholder="first name" />
            <label for="lname">Last name</label>
            <input type="text" class="form-control" ng-model="model.user.lastName" placeholder="last name" />
            <label for="password" class="col-xs-12 col-sm-2">Password:</label>
            <input type="password" class="form-control" ng-model="model.user.password" placeholder="password" />
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control" ng-model="model.user.dob" placeholder="01/01/1990" />
            <label for="email">Email address</label>
            <input ng-model = "model.user.email"type="email" class="form-control"  placeholder="email" />
            <label for="phone">Phone number</label>
            <input ng-model = "model.user.phone"type="tel" class="form-control" placeholder="phone" />
            <label for="role">Type of User</label>
            <select ng-model ="model.user.role">
                <option value="BUYER">Buyer</option>
                <option value="SELLER">Seller</option>
            </select>
            <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
            <a ng-click="model.updateUser(model.user.username,model.user.firstName,model.user.lastName,model.user.password,model.user.dob,model.user.email,model.user.phone,model.user.role)" class="btn btn-info btn-login btn-block">Update</a>
            <a ng-click="model.deleteUser()" class="btn btn-info btn-login btn-block">Delete</a>
            <a href="#!/admin/{{model.adminId}}" class="btn btn-info btn-register btn-block">Cancel</a>
        </div>
    </div>
</div>
