<div class="admin-header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#!/admin"><div class="header-text">ShopCheap administration</div></a>
                <div class="admin-header-option">
                    Welcome {{model.admin.username}}/
                    <a>view site</a>
                    /
                    <a href="#!/admin">logout</a>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="login-main-container container">
    <div class="admin-home-container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Edit Item</h2>
                <div class="form-group">
                    <label for="itemName">Item name</label>
                    <input type="text" class="form-control" ng-model="model.item.name" placeholder="Name" />
                    <label for="price">Selling price</label>
                    <input type="text" class="form-control" ng-model="model.item.price" placeholder="0.00" />
                    <label for="desc">Item description</label>
                    <input type="text" class="form-control" ng-model="model.item.description" placeholder="description" />
                    <label for="count">Quantity</label>
                    <input type="text" class="form-control" ng-model="model.item.count" placeholder="1" />
                    <label for="catagory">Catagory</label>
                    <input type="text" class="form-control" ng-model="model.item.category" placeholder="Home" />
                    <label for="count">Upload Image</label>
                    <input type="upload" class="form-control" ng-model="model.item.image"/>
                    <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
                    <a ng-click="model.updateItem(model.item.name,model.item.price,model.item.description,model.item.count,model.item.category,model.item.image)" class="btn btn-info btn-login btn-block">Update</a>
                    <a ng-click="model.delete()" class="btn btn-info btn-login btn-block">Delete</a>
                    <a href="#!/admin/{{model.adminId}}" class="btn btn-info btn-register btn-block">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
