<!-- I'm the header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="static/resources/logo-3.png" class="home-logo"></img></a>
            <div class="pull-right header-button-container">
                <a href="#!/user/profile"><img src="static/resources/profile-image.png" class="profile-image"></img></a>
                <a href="#!/user/cart"><img src="static/resources/cart.png" class="shopping-cart-image"><img></a>
                <a ng-click="model.logout()"><img src="static/resources/logout.png" class="shopping-cart-image"><img></a>
            </div>
            <input ng-model="model.input" class="header-search" placeholder="Search by Name/Department" >
            <a ng-click="model.search(model.input)"><div class="search-block"></div></a></input>
            <a ng-click="model.search(model.input)"><i class="fa fa-search fa-search-change"></i></a>
        </div>
    </div>
</nav>

<div class="main-container login-page-container">
    <div class="content-container container">
        <div class="row">
            <div class="col-sm-12">
                <div class="create-title">Create Item</div>
                <div class="form-group">
                    <label for="itemName">Item name</label>
                    <input type="text" class="form-control" ng-model="itemName" placeholder="Name" />
                    <label for="price">Selling price</label>
                    <input type="text" class="form-control" ng-model="price" placeholder="0.00" />
                    <label for="desc">Item description</label>
                    <input type="text" class="form-control" ng-model="desc" placeholder="description" />
                    <label for="count">Quantity</label>
                    <input type="text" class="form-control" ng-model="count" placeholder="1" />
                    <label for="catagory">Catagory</label>
                    <select ng-model ="catagory" class="form-control" placeholder="Home">
                        <option value="HOME" selected>HOME</option>
                        <option value="ELECTRONICS" selected>ELECTRONICS</option>
                        <option value="MEDIA" selected>MEDIA</option>
                        <option value="FOOD" selected>FOOD</option>
                        <option value="SPORT" selected>SPORT</option>
                        <option value="OTHER">OTHER</option>
                    </select>
                    <label for="count">Upload Image</label>
                    <input type="upload" class="form-control" ng-model="image"/>
                    <a ng-click="model.create(itemName,price,desc, count,catagory,image)" class="btn btn-info btn-login btn-block">Create</a>
                    <a href="#!/user/profile" class="btn btn-info btn-register btn-block">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
