<!-- I'm the header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"><img src="static/resources/logo-3.png" class="home-logo"></img></a>
            <div class="pull-right header-button-container">
                <a href="#!/login"><img src="static/resources/profile-image.png" class="profile-image"></img></a>
                <a href="#!/user/cart"><img src="static/resources/cart.png" class="shopping-cart-image"><img></a>
            </div>
            <input class="header-search" placeholder="Search by Name/Department" ng-model="val">
            <a href="#!/s/val"><div class="search-block"></div></a></input>
            <i class="fa fa-search"></i>
        </div>
    </div>
</nav>

<div class="main-container">
    <div class="content-container profile-page-inner-container">
        <div class="row">
            <div class="col-sm-12">
                <div class="following-list-container">
                    <ul ng-repeat = "item in model.list" class="list-group">
                        <div ng-click="model.selectItem(item._id)">{{item.name}}</div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
